
<div class="row"> 
  <input type="text"  class="form-control" [(ngModel)]="searchValue">
</div>


<div class="container">
<div class="row">

    <div class="card mx-2"
     *ngFor="let product of allproducts" 
     style="width: 18rem;"
     >
     <a [routerLink]="'/productdetails/' + product.id">

  <img 
  src={{imagepath+product.image}}
  class="card-img-top" 
  alt="...">
      </a>
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="#" class="btn btn-primary">view</a>
        </div>
      </div>
     
      

</div>
</div>